<!DOCTYPE html>
<html lang="en" ng-app="IJRS">
  <head>
    <!-- <base href="/2016/*"> -->
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IJRS - Instituto Junguiano do RS</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png"> -->

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

    <!-- Nivo Lightbox
    ================================================== -->
    <link rel="stylesheet" href="css/nivo-lightbox.css" >
    <link rel="stylesheet" href="css/nivo_lightbox_themes/default/default.css">

    <!-- Slider
    ================================================== -->
    <link href="css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="css/owl.theme.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
     <link rel="stylesheet" type="text/css"  href="css/awat.css">

    <!-- Google Fonts
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="js/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="IJRSCtrl">

    <!-- Main Navigation 
    ================================================== -->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="col-md-12">
                  <div class="row">
                    <a class="navbar-brand" href="#/"><img src="img/logo.jpg" alt="..."></a>
                  </div>
                  <div class="row">
                    <div class="full-name">Instituto Junguiano do Rio Grande do Sul</div>
                  </div>
              </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:void(0)" class="scroll" ng-class="{activeMenu: activetab == '/'}" ng-click="go('/')">Home</a></li>
                <li><a href="javascript:void(0)" class="scroll" ng-class="{activeMenu: activetab == '/sobre'}" ng-click="go('/sobre')">Sobre o Ijrs</a></li>
                <li><a href="javascript:void(0)" class="scroll" ng-class="{activeMenu: activetab == '/atividades'}" ng-click="go('/atividades')">Atividades</a></li>
                <li><a href="javascript:void(0)" class="scroll" ng-class="{activeMenu: activetab == '/biblioteca'}" ng-click="go('/biblioteca')">Biblioteca</a></li>
                <!-- <li><a href="javascript:void(0)" class="scroll" ng-class="{activeMenu: activetab == '/cursos'}" ng-click="go('/cursos')">Cursos</a></li> -->
                <li><a href="javascript:void(0)" class="scroll" ng-class="{activeMenu: activetab == '/agenda'}" ng-click="go('/agenda')">Agenda</a></li>
                <li><a href="javascript:void(0)" class="scroll" ng-class="{activeMenu: activetab == '/fotos'}" ng-click="go('/fotos')">Fotos</a></li>
                <li><a href="javascript:void(0)" class="scroll" ng-class="{activeMenu: activetab == '/contato'}" ng-click="go('/contato')">Contato</a></li>
              </ul>
            </div>
        </div>
    </nav>

    <div ng-view></div>

    <!-- Footer 
    ================================================== -->
    <div id="tf-footer">
        <div class="container"><!-- container -->
            <div class="row">
                <div class="col-md-3">
                    <h3>Links úteis</h3>
                    <ul class="acesse">
                        <li><a href="http://www.cgjungpage.org/" target="_blank">The C. G. Jung Page</a></li>
                        <li><a href="http://www.ajb.org.br/cadernos_junguianos.php" target="_blank">Cadernos Junguianos</a></li>
                        <li><a href="http://www.iaap.org/" target="_blank">IAAP</a></li>
                        <li><a href="http://www.ajb.org.br/" target="_blank">Associação Junguiana do Brasil - AJB</a></li>
                        <li><a href="http://www.ajb.org.br/jung-rj" target="_blank">Instituto Junguiano do Rio de Janeiro</a></li>
                        <li><a href="http://geocities.yahoo.com.br/icgjmg/index.html">Instituto Junguiano de Minas Gerais</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="acesse two">
                        <li><a href="http://www.ajb.org.br/jung-sp">Instituto Junguiano de São Paulo</a></li>
                        <li><a href="http://www.ijpr.org.br/">Instituto Junguiano do Paraná</a></li>
                        <li><a href="http://www.ipabahiajung.org.br/">Inst. de Psicologia Analítica da Bahia</a></li>
                        <li><a href="http://www.ipacamp.org.br">IPAC</a></li>
                        <li><a href="http://www.sbpa.org.br/">Soc. Brasileira de Psicologia Analítica</a></li>
                        <li><a href="http://www.rubedo.psc.br/">Rubedo</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="acesse two">
                        <li><a href="http://fla.matrix.com.br/jung/">Pensamento Junguiano</a></li>
                        <li><a href="http://www.symbolon.com.br/">Symbolon</a></li>
                        <li><a href="http://gold.br.inter.net/sonhos/index.html">Jornal Sonhos</a></li>
                        <li><a href="http://www.fundacion-jung.com.ar/">Fundación C. G. Jung</a></li>
                        <li><a href="http://www.psiconet.org/jung/">Psicomundo</a></li>
                        <li><a href="http://www.sizigia.com.br/">Siziga</a></li>
                        <li><a href="http://www.psicologiasandplay.com.br/">Psicologia Sandplay</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Fale conosco</h3>
                    <ul>
                        <li>Rua José de Alencar 630 - sala: 301</li>
                        <li>Menino Deus</li>
                        <li>Porto Alegre / RS</li>
                        <li><span class="big-footer">(51) 3019 9789</span></li>
                        <li>contato@ijrs.org.br</li>
                        <li>
                            <a href="#"><i class="fa icons-socials fa-facebook"></i></a>
                            <a href="#"><i class="fa icons-socials fa-rss"></i></a></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- end container -->
        <div class="row copyright">
            <div class="container"><!-- container -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 text-left">
                            <p>© 2016 IJRS. Todo os direitos reservados.</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="js/bootstrap.js"></script>

    <script type="text/javascript" src="js/owl.carousel.js"></script><!-- Owl Carousel Plugin -->

    <script type="text/javascript" src="js/SmoothScroll.js"></script>

    <!-- Google Map -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&amp;sensor=false"></script> -->
    <!-- <script type="text/javascript" src="js/map.js"></script> -->

    <!-- Parallax Effects -->
    <script type="text/javascript" src="js/skrollr.js"></script>
    <script type="text/javascript" src="js/imagesloaded.js"></script>

    <!-- Portfolio Filter -->
    <script type="text/javascript" src="js/jquery.isotope.js"></script>

    <!-- LightBox Nivo -->
    <script type="text/javascript" src="js/nivo-lightbox.min.js"></script>

    <!-- Contact page-->
    <script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="js/contact.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/jquery.easing.min.js"></script>

    <!-- AngularJS -->
    <script src="js/AngularJS/angular.min.js"></script>
    
    <!-- Angular Route -->
    <script src="js/AngularJS/angular-route.min.js"></script>
    
    <!-- Módulo -->
    <script src="js/app.js"></script>

    <!-- Controller -->
    <script src="js/mainCtrl.js"></script>

    <!-- Rotas -->
    <script src="js/configs/routeConfig.js"></script>

    <!-- Home -->
    <script src="js/controllers/homeCtrl.js"></script>

    <!-- Sobre -->
    <script src="js/controllers/sobreCtrl.js"></script>

    <!-- Atividades -->
    <script src="js/controllers/atividadesCtrl.js"></script>

    <!-- Biblioteca -->
    <script src="js/controllers/bibliotecaCtrl.js"></script>

    <!-- Cursos -->
    <script src="js/controllers/cursosCtrl.js"></script>

    <!-- Agenda -->
    <script src="js/controllers/agendaCtrl.js"></script>

    <!-- Fotos -->
    <script src="js/controllers/fotosCtrl.js"></script>

    <!-- Contato -->
    <script src="js/controllers/contatoCtrl.js"></script>
  </body>
</html>