<div class="gray-bg" style="padding-bottom:160px"> <!-- fullwidth gray background -->
    <div class="container"><!-- container -->
        <div id="process" class="row"> <!-- row -->
            <div class="col-md-10 col-md-offset-1">
                <div class="vline"></div>
                <div class="media process"> <!-- Process #1 -->
                    <div class="media-right">
                        <i class="fa fa-hospital-o fa-styling"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Clínica social</h4>
                        <p>Este projeto visa contemplar o compromisso do IJRS, junto à comunidade de Porto Alegre, em difundir e aplicar os conhecimentos desenvolvidos pela Psicologia Analítica de C.G. Jung, buscando atingir uma parcela da sociedade que não tem a possibilidade de arcar com os custos praticados na esfera privada. Acreditando na construção de uma sociedade mais justa e integrada.</p>
                        <p><strong>Público-alvo para psicoterapia:</strong></p>
                        <p>1) Adultos, adolescentes e crianças que comprovadamente, tenham renda familiar inferior a 3 salários mínimos. (Mediante comprovante de renda familiar)</p>
                        <p>2) Professores da rede pública estadual de ensino. (Mediante apresentação do comprovante de renda familiar).</p>
                        <p>3) Alunos da rede pública de ensino. (Mediante comprovação de matrícula e  frequência escolar).</p>
                        <p><strong>Mais informações com:</strong></p>
                        <p><strong><i class="fa fa-user alinhado" aria-hidden="true"></i></strong>Rosa Brizola Felizardo</p>
                        <p><strong><i class="fa fa-phone alinhado" aria-hidden="true"></i></strong>(51) 99573344</p>
                        <p><strong><i class="fa fa-envelope alinhado" aria-hidden="true"></i></strong> <a href="mailto:rosabriza@hotmail.com">rosabriza@hotmail.com</a></p>
                    </div>
                </div><!-- Process #1 -->

                <div class="media process"> <!-- Process #2 -->
                    <div class="media-right">
                        <i class="fa fa-eye fa-styling"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Análise e supervisão</h4>
                        <p>Nas modalidades individual e grupal, o IJRS oferece o trabalho de supervisão com analistas da AJB. Individualmente ou na forma grupal a supervisão poderá ser agendada diretamente com os analistas obtendo deles maiores informações. As horas de análise e supervisão realizadas por analistas da Associação Junguiana do Brasil poderão ser computadas no programa de Formação de Analistas elaborado pelo Instituto Junguiano do RS, com o apoio da IAAP.</p>
                    </div>
                </div><!-- Process #2 -->

                <div class="media process"> <!-- Process #3 -->
                    <div class="media-right">
                        <i class="fa fa-flask fa-styling"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Seminários, cursos e atividades</h4>
                        <p>O Instituto oferece atividades nestas modalidades através de seus analistas e profissionais da área da saúde, filiados ao IJRS. Este trabalho é divulgado através do nosso site.
                        Essas atividades serão organizadas em conformidade com os interesses das instituições, sociedades, universidades ou dos profissionais da área que solicitem esse serviço. O IJRS atento ao compromisso de apresentar a psicologia analítica de forma séria e profunda, procuram integrar seus programas de estudo à AJB e à IAAP, bem como incentivar a reflexão, a vivência, o estudo e a troca de experiências, transformando cada encontro em terra fértil ao cultivo da alma.</p>
                        <p><strong>Entrevista de Corina Post</strong></p>
                        <div class="col-md-2 col-xs-2">
                            <div class="img-perfil" style="margin:0">
                                <img ng-src="img/profissionais/Corina Post.jpg" alt="Corina Post">
                            </div>
                        </div>
                        <div class="col-md-10 col-xs-10" style="padding-left:0;padding-top:20px;">
                            <p>A analista junguiana Corina concedeu entrevista no programa <strong>BOM DIA RIO GRANDE</strong> sobre o <a href="http://g1.globo.com/rs/rio-grande-do-sul/bom-dia-rio-grande/videos/t/edicoes/v/suposto-fim-do-mundo-pode-servir-para-um-momento-de-reflexao/2306176/" target="_blank" class="dif">suposto fim do mundo.</a> Confira!</p>
                        </div>
                    </div>
                </div><!-- Process #3 -->

                <div class="media process"> <!-- Process #4 -->
                    <div class="media-right">
                        <i class="fa fa-truck fa-styling"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Estágio em psic. clínica Junguiana</h4>
                        <p>O programa de estágio em psicologia clínica oferecido pelo Instituto Junguiano do Rio Grande do Sul às universidades, entrou em vigor no ano de 2004. O estágio tem a duração de um ano e possibilita ao estudante em graduação uma maior aproximação e entendimento da teoria e prática da psicologia junguiana. A coordenação do estágio é feita por analistas filiados à AJB e por psicólogos preparados para esta atividade, nas modalidades de seminários, palestras, e atendimento clínico supervisionado.</p>
                        <p><strong>Responsável:</strong></p>
                        <p><strong><i class="fa fa-user alinhado" aria-hidden="true"></i></strong>Corina Post</p>
                        <p><strong><i class="fa fa-phone alinhado" aria-hidden="true"></i></strong>(51) 99039722</p>
                        <p><strong><i class="fa fa-envelope alinhado" aria-hidden="true"></i></strong> <a href="mailto:corinapost@yahoo.com.br">corinapost@yahoo.com.br</a></p>
                    </div><!-- Process #4 -->
                </div>
            </div>
        </div>
    </div> <!-- end row -->
</div>