<div id="tf-counter" class="text-center gray-bg" style="padding-top:100px !important">
  <div class="container">
    <div class="row"> <!-- Row -->
      <div class="counter"> 

        <div class="col-xs-6 col-sm-4 col-md-2 col-md-2 col-md-offset-1 facts"><!-- counter #1 -->
            <div ng-click="viewsBiblioteca(1)" class="count-box" ng-class="{active: viewAberta == 1}"> 
              <i class="fa fa-book"></i>
              <p class="small">Monografias completas</p>
            </div> 
          </a>
        </div><!-- end counter #1 -->

        <div class="col-xs-6 col-sm-4 col-md-2 facts"><!-- counter #2 -->
          <div ng-click="viewsBiblioteca(2)" class="count-box" ng-class="{active: viewAberta == 2}">
            <i class="fa fa-microphone"></i>
            <p class="small">Entrevistas</p>
          </div>
        </div>

      <div class="col-xs-6 col-sm-4 col-md-2 facts"> <!-- counter #3 -->
        <div ng-click="viewsBiblioteca(3)" class="count-box" ng-class="{active: viewAberta == 3}">
          <i class="fa fa-file-text"></i>
          <p class="small">Resumo de monografias</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-2 facts"> <!-- counter #4 -->
        <div ng-click="viewsBiblioteca(4)" class="count-box" ng-class="{active: viewAberta == 4}">
          <i class="fa fa-newspaper-o"></i>
          <p class="small">Artigos</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-2 facts"> <!-- counter #5 -->
        <div ng-click="viewsBiblioteca(5)" class="count-box" ng-class="{active: viewAberta == 5}">
          <i class="fa fa-female"></i>
          <p class="small">Acervo Malvina Mcneill</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div id="tf-counter" class="text-center gray-bg fade-in" ng-show="viewAberta == 1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row vertical-align">
          <div class="col-md-6">
            <div class="eng-foto-redonda">
              <img src="img/biblioteca/img01.jpg" alt="" class="img-responsive img-redonda">
            </div>
          </div>
          <div class="col-md-6">
            <h1>Monografias Completas</h1>
            <h3>Neste espaço poderão ser consultadas as monografias dos analistas junguianos do IJRS</h3>
            <br>
            <a href="">
              <h4>Confira abaixo!</h4>
              <i class="fa fa-angle-down"></i>
            </a>
          </div>
        </div>
        <br>
        <div ng-repeat="content in monografias" class="monografias">
          <h3><i class="fa fa-angle-right"></i>{{content.titulo}}</h3>
          <h4>{{content.subTitulo}}</h4>
          <p ng-bind-html="content.resumo | unsafe"></p>
          <br>
          <a href="http://ijrs.org.br/includes/_incDownload.php?arquivo={{content.link}}" class="btn btn-primary tf-btn color">Link para download <i class="fa fa-cloud-download"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--entrevistas-->
<div id="tf-counter" class="text-center gray-bg fade-in" ng-show="viewAberta == 2">
  <h1>Entrevistas</h1>
  <h3>Aqui você pode assistir algumas entrevistas dadas pelos profissionais do IJRS</h3>
  <br><br>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 entrevistas" ng-repeat="content in entrevistas">
      <div class="row vertical-align">
        <div class="col-md-9">
          <h4><i class="fa fa-video-camera"></i>{{content.titulo}}</h4>
          <p ng-bind-html="content.resumo | unsafe"></p>
        </div>
        <div class="col-md-3 text-center">
          <button ng-click="linkEntrevistras(content.resumo)" class="btn btn-primary tf-btn color">Acesse a Entrevista</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--entrevistas-->
<!--resumo-->
<div id="tf-counter" class="text-center gray-bg fade-in" ng-show="viewAberta == 3">
  <h1>Resumo das Monografias</h1>
  <h3>Aqui você pode ler o resumo das monografias do nosso acervo.</h3>
  <br><br>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 resumos" ng-repeat="content in resumos">
      <div class="row vertical-align">
        <div class="col-md-10">
          <h4>{{content.titulo}}</h4>
          <p ng-bind-html="content.resumo | unsafe"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--artigos-->
<div id="tf-counter" class="text-center gray-bg fade-in" ng-show="viewAberta == 4">
  <h1 ng-hide="openingArtigoOpen">Artigos</h1>
  <h3 ng-hide="openingArtigoOpen">Artigos publicados pelos profissionais e analistas do IJRS.<br><br></h3>
  <div class="row fade-in" ng-hide="openingArtigoOpen">
    <div class="col-md-10 col-md-offset-1 resumos" ng-repeat="content in artigos">
    <br>
      <div class="row vertical-align text-left">
        <div class="col-md-12">
          <h4><strong>{{content.titulo}}</strong></h4>
          <p ng-bind-html="content.resumo | unsafe"></p>
          <button class="btn btn-primary tf-btn color" ng-click="openArtigo(content, true)">Ler Artigo</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row fade-in" ng-show="openingArtigoOpen">
    <div class="col-md-8 col-md-offset-2">
      <div class="cada-artigo text-center">
        <h2><strong>{{openingArtigo.titulo}}</strong></h2>
        <div class="detalhe"></div>
        <br>
        <p ng-bind-html="openingArtigo.resumo | unsafe"></p>
        <br>
        <button class="btn btn-primary tf-btn color" ng-click="openArtigo(openingArtigo, false)">Voltar</button>
      </div>
    </div>
  </div>
</div>
<!--acervo-->
<div id="tf-counter" class="text-center gray-bg fade-in" ng-show="viewAberta == 5">
  <h1>Acervo de Malvina McNeill</h1>
  <h3>Confira o acervo de Malvina McNeill.</h3>
  <br><br>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 resumos" ng-repeat="content in acervo">
      <div class="row vertical-align">
        <div class="col-md-10">
          <h4>{{content.titulo}}</h4>
          <!-- <p ng-bind-html-unsafe="{{content.resumo}}"></p> -->
          <p ng-bind-html="content.resumo | unsafe"></p>
          <!-- <p>{{content.resumo}}</p> -->
        </div>
      </div>
    </div>
  </div>
</div>