<div id="feature" class="gray-bg">
    <div class="container">
        <div class="row" role="tabpanel">
            <div class="col-md-4">

                <ul class="features nav nav-pills nav-stacked escondeQuandoMobile" role="tablist">
                    <li role="presentation" ng-class="{active: urlParam == 1}">
                        <a href="#f1" target="_self" aria-controls="f1" role="tab" data-toggle="tab" id="fa1">
                            <span class="fa fa-user"></span>
                            Analistas<br><small>Conheça todos nossos analistas</small>
                        </a>
                    </li>
                    <li role="presentation" ng-class="{active: urlParam == 2}">
                        <a href="#f2" target="_self" aria-controls="f2" role="tab" data-toggle="tab" id="fa2">
                            <span class="fa fa-university"></span>
                            Nossa historia<br><small>Foi assim que tudo começou</small>
                        </a>
                    </li>
                    <li role="presentation" ng-class="{active: urlParam == 3}">
                        <a href="#f3" target="_self" aria-controls="f3" role="tab" data-toggle="tab" id="fa3">
                            <span class="fa fa-users"></span>
                            Diretoria Biênio 2015/2017<br><small>Nossos diretores</small>
                        </a>
                    </li>
                    <li role="presentation" ng-class="{active: urlParam == 4}">
                        <a href="#f4" target="_self" aria-controls="f4" role="tab" data-toggle="tab" id="fa4">
                            <span class="fa fa-user-md"></span>
                            Psicologia Analítica<br><small>Saiba mais sobre essa técnica</small>
                        </a>
                    </li>
                    <li role="presentation" ng-class="{active: urlParam == 5}">
                        <a href="#f5" target="_self" aria-controls="f5" role="tab" data-toggle="tab" id="fa5">
                            <span class="fa fa-cogs"></span>
                            Departamentos<br><small>nos dividimos para somar</small>
                        </a>
                    </li>
                    <li role="presentation" ng-class="{active: urlParam == 6}">
                        <a href="#f6" target="_self" aria-controls="f6" role="tab" data-toggle="tab" id="fa6">
                            <span class="fa fa-fire"></span>
                            Proposta<br><small>é isso que propomos</small>
                        </a>
                    </li>
                    <li role="presentation" ng-class="{active: urlParam == 7}">
                        <a href="#f7" target="_self" aria-controls="f7" role="tab" data-toggle="tab" id="fa7">
                            <span class="fa fa-graduation-cap"></span>
                            Profissionais do IJRS<br><small>Informações sobre os profissionais do IJRS</small>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-8"> 
                <div class="tab-content features-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="f1">
                        <div class="row">
                            <div class="col-md-12 no-padding-right">
                                <div class="search-head">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    <input type="text" class="form-control" placeholder="Busque por qualquer informação, basta digitar" ng-model="buscaAnalistas">
                                </div>
                                <div class="col-md-12">
                                    <div class="row cada-anal" ng-repeat="analista in analistas | filter:buscaAnalistas">
                                        <div class="detalhe-thin"></div>
                                        <div class="col-md-2">
                                            <div class="img-perfil">
                                                <img ng-src="../upload/{{analista.img}}" alt="{{analista.nome}}">
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-xs-10">
                                            <h4>{{analista.nome}}</h4>
                                            <p ng-if="analista.endereco != ''"><strong><i class="fa fa-map-marker alinhado" aria-hidden="true"></i></strong> {{analista.endereco}}</p>
                                            <p ng-if="analista.fone != ''"><strong><i class="fa fa-phone alinhado" aria-hidden="true"></i></strong> {{analista.fone}}</p>
                                            <p ng-if="analista.email != ''"><strong><i class="fa fa-envelope alinhado" aria-hidden="true"></i></strong> <a href="mailto:{{analista.email}}">{{analista.email}}</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade historia" id="f2">
                        <div class="head-bastante-texto bg-a">
                            <h4>
                                <div class="detalhe-thin"></div>
                                {{historico.nome}}
                            </h4>
                        </div>
                        <p ng-bind-html="historico.texto | unsafe"></p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="f3">
                        <div class="col-md-12 no-padding-right">
                            <div class="search-head">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input type="text" class="form-control" placeholder="Busque por qualquer informação, basta digitar" ng-model="buscaDiretor">
                            </div>
                            <div class="col-md-12">
                                <div class="row cada-anal" ng-repeat="diretor in diretores | filter:buscaDiretor">
                                    <div class="detalhe-thin"></div>
                                    <div class="col-md-12">
                                        <h4><strong>{{diretor.cargo}}</strong></h4>
                                    </div>
                                    <div class="col-md-2" ng-if="diretor.sex != ''">
                                        <div class="img-perfil">
                                            <img ng-src="../upload/{{diretor.img}}" alt="{{diretor.nome}}">
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-xs-10">
                                        <h4>{{diretor.nome}}</h4>
                                        <p ng-if="diretor.endereco != ''"><strong><i class="fa fa-map-marker alinhado" aria-hidden="true"></i></strong> {{diretor.endereco}}</p>
                                        <p ng-if="diretor.fone != ''"><strong><i class="fa fa-phone alinhado" aria-hidden="true"></i></strong> {{diretor.fone}}</p>
                                        <p ng-if="diretor.email != ''"><strong><i class="fa fa-envelope alinhado" aria-hidden="true"></i></strong> <a href="mailto:{{diretor.email}}">{{diretor.email}}</a></p>
                                    </div>
                                </div>
                                <div class="row cada-anal" ng-repeat="diretor_outro in diretores_outros | filter:buscaDiretor_outro">
                                    <p>
                                        <h4>
                                            <div class="detalhe"></div>
                                            {{diretor_outro.cargo}}
                                        </h4>
                                        <h5>{{diretor_outro.nome}}</h5>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade analitica" id="f4" >
                        <div class="head-bastante-texto bg-a">
                            <h4>
                                <div class="detalhe-thin"></div>
                                {{analitica.nome}}
                            </h4>
                        </div>
                        <p ng-bind-html="analitica.texto | unsafe"></p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="f5">
                        <div class="col-md-12 no-padding-right">
                            <div class="search-head">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input type="text" class="form-control" placeholder="Busque por qualquer informação, basta digitar" ng-model="buscaDepartamentos">
                            </div>
                            <p class="text-center">Com o objetivo de ampliar o pensamento Junguiano o IJRS criou vários departamentos, os quais oferecerão ao público uma gama de informações e atividades. São eles:</p><br><br>
                            <div class="col-md-12">
                                <div class="row cada-anal" ng-repeat="departamento in departamentos | filter:buscaDepartamentos">
                                    <div class="detalhe-thin"></div>
                                    <div class="col-md-12">
                                        <h4><strong>{{departamento.nome}}</strong></h4>
                                    </div>
                                    
                                    <div class="col-md-12">
                                        
                                        <strong ng-if="departamento.titulo1 != ''">
                                        	<i class="fa fa-quote-left alinhado" aria-hidden="true"></i>
                                            {{departamento.titulo1 | uppercase}}
                                        	<br /><br />
                                        </strong>
                                        <p ng-bind-html="departamento.texto1 | unsafe" ng-if="departamento.texto1 != ''"></p>
                                        
                                        <strong  ng-if="departamento.titulo2 != ''">
                                        <i class="fa fa-quote-left alinhado" aria-hidden="true"></i>
                                        {{departamento.titulo2 | uppercase}}
                                        <br /><br /></strong>
                                        <p ng-bind-html="departamento.texto2 | unsafe" ng-if="departamento.texto2 != ''"></p>
                                        
                                        <strong  ng-if="departamento.titulo3 != ''">
                                        <i class="fa fa-quote-left alinhado" aria-hidden="true"></i>
                                        {{departamento.titulo3 | uppercase}}
                                        <br /><br /></strong>
                                        <p ng-bind-html="departamento.texto3 | unsafe" ng-if="departamento.texto3 != ''"></p>
                                        
                                    </div>
                                    <div class="col-md-12" ng-if="departamento.coordenacao != ''">
                                        <h4>Cordenação</h4>
                                        <p>{{departamento.coordenacao}}</p>
                                    </div>
                                    <div class="col-md-12" ng-if="departamento.colaboracao != ''">
                                        <h4>Colaborador(es)</h4>
                                        <p>{{departamento.colaboracao}}</p>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade historia" id="f6">
                        <div class="head-bastante-texto bg-a">
                            <h4>
                                <div class="detalhe-thin"></div>
                                {{proposta.nome}}
                            </h4>
                        </div>
                        
                        <p ng-bind-html="proposta.texto | unsafe"></p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="f7">
                        <div class="col-md-12 no-padding-right">
                            <div class="search-head">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input type="text" class="form-control" placeholder="Busque por qualquer informação, basta digitar" ng-model="buscaProfissional">
                            </div>
                            <div class="col-md-12">
                                <div class="row cada-anal" ng-repeat="profissional in profissionais | filter:buscaProfissional">
                                    <div class="detalhe-thin"></div>
                                    <div class="col-md-2">
                                        <div class="img-perfil">
                                            <img ng-src="../upload/{{profissional.img}}" alt="{{profissional.nome}}">
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-xs-10">
                                        <h4>{{profissional.nome}}</h4>
                                        <p ng-if="profissional.sobre != ''" ng-bind-html="profissional.sobre | unsafe"></p>
                                        <p ng-if="profissional.endereco != ''"><strong><i class="fa fa-map-marker alinhado" aria-hidden="true"></i></strong> {{profissional.endereco}}</p>
                                        <p ng-if="profissional.fone != ''"><strong><i class="fa fa-phone alinhado" aria-hidden="true"></i></strong> {{profissional.fone}}</p>
                                        <p ng-if="profissional.email != ''"><strong><i class="fa fa-envelope alinhado" aria-hidden="true"></i></strong> <a href="mailto:{{profissional.email}}">{{profissional.email}}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>