<div id="tf-team" style="padding:100px 0">
    <div id="tf-intro">
        <div class="container text-left breadcamps">
            <span ng-click="AlbumAberto=false">Fotos / </span><span>{{AlbumAberto.titulo}}</span>
        </div>
    </div>
    <br>
    <div class="container fotos-section" ng-hide="AlbumAberto" ng-show="!AlbumAberto">
        <div class="row">
            <div class="col-md-4 cada-album" ng-repeat="album in albuns" ng-click="openAlbum(album)">
                <div class="hover-bg">
                    <div class="hover-text off">
                        <p>{{album.text}}&nbsp;</p>
                    </div>
                    <img ng-src="./upload/{{album.imgUrl}}" alt="..." class="img-responsive fotos-foto thumbnail">
                </div>
                <div class="team-detail text-center">
                    <br>
                    <h3>{{album.titulo}}&nbsp;</h3>
                    <br>
                    <ul class="list-inline social"> 
                        <li><a href="javascript:void(0)" ng-click="openAlbum(album.id)" class="btn btn-primary tf-btn color">Abrir Album</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container" ng-if="AlbumAberto">
        <div class="row">
            <div class="col-md-12">
                <a href="javascript:void(0)" ng-click="openAlbum(false)" class="btn btn-primary tf-btn color">Voltar aos albúns</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 hover-bg cada-foto" ng-repeat="foto in fotos">
                <div class="box">
                    <div class="hover-bg">
                        <div class="hover-text off">
                            <a title="{{foto.titulo}}" href="javascript:void(0)" data-toggle="modal" data-target="#myModal" ng-click="getContentGaleria(foto)">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div> 
                        <img ng-src="./upload/{{foto.imgUrl}}" alt="..." class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{contentGaleria.titulo}}</h4>
            </div>
            <div class="modal-body">
                <img ng-src="./upload/{{contentGaleria.imgUrl}}" alt="{{contentGaleria.titulo}}" class="img-responsive">
            </div>
        </div>
    </div>
</div>