<!-- Home Section
================================================== -->
<div id="tf-home" class="app">
    <div class="overlay"> <!-- Overlay Color -->
        <div class="container escondeQuandoMobile"> <!-- container -->
            <div class="row vertical-align">
                <div class="col-md-6 col-xs-12 text-center">
                    <div class="ipad-wrapper">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox" >
                            <div class="item hover-bg" ng-class="{active:$first}" ng-repeat="slider in sliders">
                                <div class="hover-text off">
                                    <a title="" href="#/sobre">
                                        Saiba mais
                                    </a>
                                </div>
                                <img src="../upload/n_{{slider.arquivo1}}" class="img-responsive" alt="">
                            </div>
                          </div>
                          <ol class="carousel-indicators">
                                <li data-target="#myCarousel" ng-class="{active:$first}" ng-repeat="slider in sliders" data-slide-to="{{$index}}"></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 text-center">
                    <div class="row bg-destaque-selo" ng-repeat="destaque in destaques">
                        <div class="topo-destaque">
                            <h1>DESTAQUE</h1>
                        </div>
                        <h2>{{destaque.titulo}}</h2>
                        <p>{{destaque.texto}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-6 col-xs-12 text-center">
                    <div class="row cadastro-contro-txt">
                        <div class="col-sm-6 col-md-6 col-xs-6">
                            <a href="javascript:void(0)" ng-click="newsleter('#newsletter')" class="scroll goto-btn text-uppercase">Cadastre-se</a>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-6">
                            <a href="#/contato" class="scroll goto-btn text-uppercase">Contato</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end container -->
        <div class="container mostraQuandoMobile"> <!-- container -->
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="ipad-wrapper">
                        <div id="myCarousel-mobile" class="carousel slide" data-ride="carousel">
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox" >
                            <div class="item hover-bg"  ng-class="{active:$first}" ng-repeat="slider in sliders">
                                <div class="hover-text off">
                                    <a title="" href="#/sobre">
                                        Saiba mais
                                    </a>
                                </div>
                                <img src="../upload/n_{{slider.arquivo1}}" class="img-responsive" alt="">
                            </div>
                          </div>
                          <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel-mobile" ng-class="{active:$first}" ng-repeat="slider in sliders" data-slide-to="{{$index}}"></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="row bg-destaque-selo">
                        <div class="topo-destaque">
                            <h1>DESTAQUE</h1>
                        </div>
                        <h2>Carl G. Jung</h2>
                        <p>"Quanto menos os pais aceitem seus própios problemas, tanto mais os filhos sofrerão pela vida não vivida de seus pais e tanto mais serão forçados a realizar tudo quanto os pais reprimiram no inconsciente."</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="col-xs-12 cadastro-contro-txt">
                        <div class="col-sm-6 col-md-6 col-xs-6">
                            <a href="javascript:void(0)" ng-click="newsleter('#newsletter')" class="scroll goto-btn text-uppercase">Cadastre-se</a>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-6">
                            <a href="#/contato" class="scroll goto-btn text-uppercase">Contato</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end container -->
    </div><!-- End Overlay Color -->
</div>

<!-- Intro Section
================================================== -->
<div id="tf-intro">
    <div class="container"> <!-- container -->
        <div class="row"> <!-- row -->
            <div class="col-md-4 col-sm-4 brand others"> <!-- Works #1 col 3 -->
                <div class="box"> 
                    <div class="hover-bg">
                        <div class="hover-text off">
                            <a title="Logo Identity Design" href="img/ijrs/analistas.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/ijrs/analistas.jpg">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div> 
                        <img src="img/ijrs/analistas.jpg" class="img-responsive" alt="Image"> <!-- Portfolio Image -->
                    </div>
                    <div class="abaixo-box">
                        <h2>
                            <div class="detalhe"></div>
                            Conheça os analistas do IJRS
                        </h2>
                        <p>Não deixe de conhecer, todos os profissionais e suas informações de contato e formação.</p>
                    </div>
                </div>
            </div><!-- end Works #1 col 3 -->

            <div class="col-md-4 col-sm-4 apps margin-brands"> <!-- Works #2 col 3 -->
                <div class="box">
                    <div class="hover-bg">
                        <div class="hover-text off">
                            <a title="Mobile Application" href="img/ijrs/psicologiaanalitica.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/ijrs/psicologiaanalitica.jpg">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                        <img src="img/ijrs/psicologiaanalitica.jpg" class="img-" alt="Image" width="100%"> <!-- Portfolio Image -->
                    </div>
                </div>
                <div class="abaixo-box">
                    <h2>
                        <div class="detalhe"></div>
                        Saiba mais sobre psicologia analítica
                    </h2>
                    <p>Pinceladas dessa bagagem deixada por Carl Gustav Jung.</p>
                </div>
            </div><!-- end Works #2 col 3 -->

            <div class="col-md-4 col-sm-4 others brand"><!-- Works #3 col 3 -->
                <div class="box">
                    <div class="hover-bg">
                        <div class="hover-text off">
                            <a title="Freedom Project #1" href="img/ijrs/profissionais.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/ijrs/profissionais.jpg">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                        <img src="img/ijrs/profissionais.jpg" class="img-responsive" alt="Image"> <!-- Portfolio Image -->
                    </div>
                </div>
                <div class="abaixo-box">
                    <h2>
                        <div class="detalhe"></div>
                        Conheça os profissionais do IJRS
                    </h2>
                    <p>Listagem e informações sobre os profissionais do IJRS.</p>
                </div>
            </div><!-- end Works #3 col 3 -->
        </div><!-- end row -->
    </div><!-- end container -->
</div>

<!-- Service Section
================================================== -->
<div id="tf-services">
    <div class="container"> <!-- container -->
        <div class="col-md-12">
            <div class="col-md-8">
                <div class="section-header">
                    <h2>
                        <div class="detalhe"></div>
                        Saiba o que esta acontecendo
                    </h2>
                </div>
                <div class="row margin-bottom">
                    <div class="col-md-12"> <!-- Service #4 -->
                        <div class="col-md-4">
                            <div class="box"> 
                                <div class="hover-bg">
                                    <div class="hover-text off">
                                        <a title="Logo Identity Design" href="img/home/home01.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/home/home01.jpg">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div> 
                                    <img src="img/home/home01.jpg" class="img-responsive" alt="Image"> <!-- Portfolio Image -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h4 class="media-heading">XV Jornada Regional do IJRS</h4>
                            <p>O IJRS em parceria com o Ministério Público do Estado do Rio Grande do Sul tem o prazer de convidar para a sua XV Jornada Regional de Psicologia Junguiana.</p>
                        </div>
                    </div><!-- end Service #4 -->
                </div>
                <div class="row margin-bottom">
                    <div class="col-md-12"> <!-- Service #4 -->
                        <div class="col-md-4">
                            <div class="box"> 
                                <div class="hover-bg">
                                    <div class="hover-text off">
                                        <a title="Logo Identity Design" href="img/portfolio/01@2x.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/portfolio/02@2x.jpg">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div> 
                                    <img src="img/home/home02.jpg" class="img-responsive" alt="Image"> <!-- Portfolio Image -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h4 class="media-heading">Departamento de Consciência Feminina e Corpo</h4>
                            <p>O primeiro encontro do Departamento de Consciência Feminina e Corpo aconteceu no dia 06/09/2013 com a apresentação do filme "Dancing in the Flames", documentário sobre a analista junguiana Marion Woodman.</p>
                        </div>
                    </div><!-- end Service #4 -->
                </div>
                <div class="row margin-bottom">
                    <div class="col-md-12"> <!-- Service #4 -->
                        <div class="col-md-4">
                            <div class="box"> 
                                <div class="hover-bg">
                                    <div class="hover-text off">
                                        <a title="Logo Identity Design" href="img/portfolio/01@2x.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/portfolio/03@2x.jpg">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div> 
                                    <img src="img/home/home03.jpg" class="img-responsive" alt="Image"> <!-- Portfolio Image -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h4 class="media-heading">Departamento de Psicologia Quântica</h4>
                            <p>No dia 04/10/2012 o Departamento de Psicologia Quântica abriu ao público seu primeiro seminário: Autonomia emocional: a prática do bem-estar, com o palestrante Andrei Weber.</p>
                        </div>
                    </div><!-- end Service #4 -->
                </div>
            </div>
            <div id="newsletter" class="col-md-4">
                <div class="section-header">
                    <h2>
                        <div class="detalhe"></div>
                        newsletter Ijrs
                    </h2>
                </div>
                       <div ng-hide="sucesso" class="row text-center fade-in"> <!-- contact form outer row with centered text-->
            <div class="col-md-10 col-md-offset-1"> <!-- col 10 with offset 1 to centered -->


<form id="contact-form" class="form" name="sentMessage" ng-submit="cadastraNewsletter(news, sentMessage.$valid)"> <!-- form wrapper -->
                    <div class="row fade-in" ng-show="resNews">
                        <div class="col-md-12">
                            <p class="resNews">{{resNews.msg}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group"> <!-- Your name input -->
                                <input type="text" ng-model="news.nome" autocomplete="off" class="form-control" placeholder="Seu nome *" id="name" ng-class="{invalido: sentMessage.$invalid && send}" required data-validation-required-message="Por favor coloque seu nome.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group"> <!-- Your email input -->
                                <input type="email" ng-model="news.email" ng-class="{invalido: sentMessage.$invalid && send}" autocomplete="off" class="form-control" placeholder="Seu Email *" id="email" required data-validation-required-message="Por favor coloque seu email.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" ng-click="send=true" class="btn btn-primary tf-btn color">Assinar</button> <!-- Send button -->
                        </div>
                    </div>
                </form><!-- end form wrapper -->
                
                            </div><!-- end col 10 with offset 1 to centered -->
        </div> <!-- end contact form outer row with centered text-->


                <div ng-show="sucesso" class="row text-center fade-in successCadastro">
            <div>
                <i class="fa fa-check-circle" aria-hidden="true"></i>
            </div>
            <div>
                <p>Cadastro efetuado com sucesso, obrigado!</p>
            </div>
        </div>

                <div class="section-header">
                    <h2>
                        <div class="detalhe"></div>
                        Localização
                    </h2>
                </div>
                <div class="mapa-right">
                    <img src="img/map.jpg" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div><!-- end container -->
</div>